	<!-- Contact -->
<div id="contact" class="form-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="text-container">               
					<h2>Свържете се с нас!</h2>
					<p><b>МОЛ Николай Семков</b></p>
					<ul class="list-unstyled li-space-lg">
						<li class="address"><i class="fas fa-map-marker-alt"></i>улица Скакля 4, Враца, България 3000</li>
						<li><i class="fas fa-phone"></i>телефон за връзка: <a href="tel:+359888134969">0 888 13 49 69</a></li>
						<li><i class="fas fa-envelope"></i><a href="mailto:mediservice@abv.bg">mediservice@abv.bg</a></li>
					</ul>
					<h3>Следете нашите социални мрежи за нови известия и промоции!</h3>

					<span class="fa-stack">
						<a href="https://www.facebook.com/%D0%BC%D0%B5%D0%B4%D0%B8%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D0%B7-200845923274909/">
							<span class="hexagon"></span>
							<i class="fab fa-facebook-f fa-stack-1x"></i>
						</a>
					</span>
					
					</span>
				</div> <!-- end of text-container -->
			</div> <!-- end of col -->
			
				</form>
				<!-- end of contact form -->

			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->
    
    	
<!-- Scripts -->
<script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="js/scripts.js"></script> <!-- Custom scripts -->